<template id="s-template-of-navtoggler">

    <link rel='stylesheet' href='/components/styles/nav-toggler.css'/>

    <button aria-expanded="false" class="btn">
        <img class="btn--image" src="menu.svg" alt="" aria-hidden="true">
        <span class="btn--label"></span>
    </button>

</template>
<script>
    class SNavToggler extends HTMLElement {

        constructor() {
            super();

            let template = document.importNode(document.currentScript.ownerDocument.querySelector('#s-template-of-navtoggler').content, true);

            this.buttonElement = template.querySelector('.btn');

            this.labelElement = template.querySelector('.btn--label');
            this.labelElement.insertAdjacentHTML('afterbegin', this.innerHTML);
            // creating shadow root
            this.shadow = this.attachShadow({mode: 'open'});
            this.selector = this.dataset.selector;
            if(this.dataset.label == 'false') this.labelElement.classList.add('btn--label-invisible');
            this.navElement = document.getElementsByClassName(this.selector)[0];

            // appending template to shadow root
            this.shadow.appendChild(template);

            this.buttonBehavior();
        }

        toggle() {
            if (this.state == true) {
                this.state = false;
                this.buttonElement.setAttribute('aria-expanded', 'false');
                this.navElement.classList.remove(this.selector + '-isExpanded');

            } else {
                this.state = true;
                this.buttonElement.setAttribute('aria-expanded', 'true');
                this.navElement.classList.add(this.selector + '-isExpanded');
            }
        }

        buttonBehavior() {
            this.addEventListener('click',() => {
                this.toggle();
            });
        }


    }

    customElements.define('s-nav-toggler', SNavToggler);
</script>