<template id="s-template-of-navtoggler">
    <link rel='stylesheet' href='/components/styles/nav-toggler.css'/>

    <button aria-expanded="false" aria-labelledby="Toggle menu"></button>
</template>
<script>
    class SNavToggler extends HTMLElement {

        constructor() {
            super();

            let template = document.importNode(document.currentScript.ownerDocument.querySelector('#s-template-of-navtoggler').content, true);



            var content = template.querySelector('button').textContent;
            this.buttonElement = template.querySelector('button');
            this.buttonElement.insertAdjacentHTML('afterbegin', this.innerHTML);
            // creating shadow root
            this.shadow = this.attachShadow({mode: 'open'});
            this.selector = this.dataset.selector;

            this.navElement = document.querySelector(this.selector);
            // appending template to shadow root
            this.shadow.appendChild(template);

            this.buttonBehavior();


        }

        get getState() {
            return this.state;
        }

        toggle() {
            if (this.state == true) {
                this.state = false;
                this.buttonElement.setAttribute('aria-expanded', 'false');
                this.navElement.classList.remove('navigation-isExpanded');

            } else {
                this.state = true;
                this.buttonElement.setAttribute('aria-expanded', 'true');
                this.navElement.classList.add('navigation-isExpanded');
            }
        }

        buttonBehavior() {
            var that = this;
            this.addEventListener('click', function (e) {
                that.toggle();
            });
        }


    }

    customElements.define('s-nav-toggler', SNavToggler);
</script>