<template id="s-template-of-tooltip">
    <link rel='stylesheet' href='/components/styles/tooltip.css'/>

    <span class="word"></span>
</template>
<script>
    customElements.define('s-tooltip',class extends HTMLElement {

        constructor() {
            super();

            let template = document.importNode(document.currentScript.ownerDocument.querySelector('#s-template-of-tooltip').content, true);

            this.wordElement = template.querySelector('.word');
            this.wordElement.textContent = this.textContent;
            this.wordElement.setAttribute('aria-label',this.dataset.desc);

            this.shadow = this.attachShadow({mode: 'open'});

            this.shadow.appendChild(template);


            this.tooltipBehavior();
        }

        tooltipBehavior() {

            this.wordElement.addEventListener('mouseover',( ) => {
                var tooltip = document.createElement('span');
                tooltip.classList.add('tooltip');
                tooltip.setAttribute('aria-hidden',true);
                tooltip.textContent = this.wordElement.getAttribute('aria-label');
                this.shadow.appendChild(tooltip);
                setTimeout(function () {
                    tooltip.classList.add('tooltip-isCompleted')
                },1);
            });

            this.wordElement.addEventListener('mouseout', () => {
                this.shadow.removeChild(this.shadow.querySelector('.tooltip'));
            });
        }

    });
</script>